* {
    box-sizing: border-box;
}

h1 {

    color: white;
    border-color: #94C47D;
    background-color: #94C47D;
    width: 500px;
    border: 10px solid #94C47D;
    padding: 10px;
    margin: 200px 100px 20px 300px;
    text-align: center;
}

h2{
    text-align: center;

}
h3{
    text-align: center;
}

input{
    border: 4px solid #94C47D;

}

.button{
    color: #94C47D;
    display: inline-block;
    border: 4px solid #94C47D;
    height: 40px;
    background-color: white;

}

ul li{
    text-align: center;
    font-size: 20px;
    list-style: none;
}
