* {
    box-sizing: border-box;
}

h1 {

    color: white;
    border-color: #94C47D;
    background-color: #94C47D;
    width: 500px;
    border: 10px solid #94C47D;
    padding: 10px;
    margin: 200px 100px 20px 300px;
    text-align: center;
}

h2{
    text-align: center;

}
h3{
    text-align: center;
}